In [2]:

# Import Libraries
import pandas as pd
import numpy as np
import os
from dask import dataframe as dd

import matplotlib.pyplot as plt
import seaborn as sns

import datetime
from dateutil.relativedelta import relativedelta

In [3]:

ReadCSV = True

# Import original dataset
FileName = "Autism 24-09-21.csv"
Path = r"O:\GIRFT DiRAC\Errors in HES\Learning disabilities"
FilePath = os.path.join(Path, FileName)

ReadCSV = True
if ReadCSV:
    df_ini = pd.read_csv(FilePath)
    
print('Columns:')
print(df_ini.columns)

print('Size of dataset:', df_ini.shape)
df_ini.head()

Columns:
Index(['P_Spell_ID1', 'Epikey', 'procedure_group', 'sex', 'EPIstart', 'EPIend',
       'HESID1', 'epiorder', 'ProvCode', 'Sitecode', 'LSOA_2011_Code',
       'main_specialty_code', 'Main_Specialty_Description', 'age_of_patient',
       'diagnosis_group', 'POD', 'MORT', 'FinY', 'Read30', 'Read90',
       'Admission_date1', 'Discharge_date1', 'Spell_Los'],
      dtype='object')
Size of dataset: (791789, 23)

,P_Spell_ID1,Epikey,procedure_group,sex,EPIstart,EPIend,HESID1,epiorder,ProvCode,Sitecode,...,age_of_patient,diagnosis_group,POD,MORT,FinY,Read30,Read90,Admission_date1,Discharge_date1,Spell_Los
0,106,5.040460e+11,K633~K635~Y534~U201~-1~-1~-1~-1~-1~-1~-1~-1~-1...,Male,09/09/2015 00:00,11/09/2015 00:00,00000BB5E7DC3BAB1D477FC33FB398CD,1,RH8,RH801,...,52,I214~I251~I501~E780~F845~F419~J459~-1~-1~-1~-1...,EM,0,2015/16,NaN,NaN,09/09/2015 00:00,11/09/2015 00:00,2
1,107,5.086970e+11,H259~O302~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~...,Male,30/11/2018 00:00,30/11/2018 00:00,00000BB5E7DC3BAB1D477FC33FB398CD,1,RH8,RH801,...,55,Z121~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1...,DC,0,2018/19,NaN,NaN,30/11/2018 00:00,30/11/2018 00:00,0
2,754,5.070510e+11,E051~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1...,Male,22/12/2017 00:00,22/12/2017 00:00,00004A8B9CDE0E438C531952B76D7498,1,NT3,NT332,...,11,R040~F840~F900~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-...,DC,0,2017/18,NaN,NaN,22/12/2017 00:00,22/12/2017 00:00,0
3,755,5.102510e+11,E064~E063~Z942~E051~E063~Z943~-1~-1~-1~-1~-1~-...,Male,15/04/2019 00:00,18/04/2019 00:00,00004A8B9CDE0E438C531952B76D7498,1,RXF,RXF05,...,13,R040~R31X~F900~R278~-1~-1~-1~-1~-1~-1~-1~-1~-1...,EM,0,2019/20,NaN,NaN,15/04/2019 00:00,18/04/2019 00:00,3
4,2093,5.026980e+11,-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-...,Male,25/11/2014 00:00,25/11/2014 00:00,0000BD0A02E524D41AF95EC3BED233D8,2,RR7,RR7EN,...,26,R104~R11X~F339~F419~F845~F171~Z028~-1~-1~-1~-1...,EM,0,2014/15,NaN,NaN,24/11/2014 00:00,25/11/2014 00:00,1

# Patient Characteristics

In [4]:

# File for IMD scores 
FileName = "File_7_ID_2015_All_ranks__deciles_and_scores_for_the_Indices_of_Deprivation__and_population_denominators.csv"
Path = r"O:\GIRFT DiRAC\FlavienHardy\1_DataConsistency\Data\0_Raw"
FilePath = os.path.join(Path, FileName)
df_IMD = pd.read_csv(FilePath)
df_IMD.head()

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Score,Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Score (rate),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),...,Indoors Sub-domain Rank (where 1 is most deprived),Indoors Sub-domain Decile (where 1 is most deprived 10% of LSOAs),Outdoors Sub-domain Score,Outdoors Sub-domain Rank (where 1 is most deprived),Outdoors Sub-domain Decile (where 1 is most deprived 10% of LSOAs),Total population: mid 2012 (excluding prisoners),Dependent Children aged 0-15: mid 2012 (excluding prisoners),Population aged 16-59: mid 2012 (excluding prisoners),Older population aged 60 and over: mid 2012 (excluding prisoners),Working age population 18-59/64: for use with Employment Deprivation Domain (excluding prisoners)
0,E01031349,Adur 001A,E07000223,Adur,12.389,21352,7,0.096,18992,6,...,20379,7,0.312,11318,4,1318,206,694,418,702.75
1,E01031350,Adur 001B,E07000223,Adur,28.619,8864,3,0.187,9233,3,...,16285,5,0.234,12445,4,1212,232,712,268,720.75
2,E01031351,Adur 001C,E07000223,Adur,11.713,22143,7,0.065,24539,8,...,25054,8,0.208,12820,4,1577,290,829,458,838.25
3,E01031352,Adur 001D,E07000223,Adur,16.446,17252,6,0.117,16087,5,...,24455,8,0.109,14350,5,1453,233,739,481,748.25
4,E01031370,Adur 001E,E07000223,Adur,18.265,15643,5,0.102,17918,6,...,20214,7,0.321,11202,4,1443,306,799,338,795.50

In [5]:

df_ini = df_ini.rename(columns={'HESID1':'HESID',
                                'P_Spell_ID1':'P_Spell_ID'})

# Find Unique First Spells
df_First = df_ini.sort_values(by=['HESID', 'EPIend']).drop_duplicates(subset=['HESID'], keep='first')

# --------------------------------------------
df_Table1 = df_First # Unique patients, first spells
N_Patients = df_Table1.shape[0]
print('Number of unique patients/first spells:', N_Patients)
print('\n')

AgeMin_List = [0, 18, 40, 60, 80] + [999]
AgeMax_List = [age-1 for age in AgeMin_List[1:] ] + [999]
for k in range(len(AgeMin_List)):
    AgeMin = AgeMin_List[k]
    AgeMax = AgeMax_List[k]
    FilterAge = (df_Table1['age_of_patient']>=AgeMin) & (df_Table1['age_of_patient']<=AgeMax)
    
    df_Age = df_Table1.loc[FilterAge, :]
    print('Age band:', AgeMin, '-', AgeMax)
    print('\t Number of patients:', df_Age.shape[0], 'corresponding to %0.2f' % (100*df_Age.shape[0]/N_Patients), '%')

print('\n')

# --------------------------------------------
# Sex
Filter_Male = df_Table1['sex']=='Male'
Filter_Female = df_Table1['sex']=='Female'

N_Males = df_Table1[Filter_Male].shape[0]
N_Females = df_Table1[Filter_Female].shape[0]
Missing_Sex = N_Patients - (N_Males + N_Females)
Prop_Males = 100*N_Males/N_Patients
Prop_Females = 100*N_Females/N_Patients
Prop_Missing = 100*Missing_Sex/N_Patients

print('Number of Male patients:', N_Males, 'corresponding to %0.2f' % Prop_Males, '%' )
print('Number of Female patients:', N_Females, 'corresponding to %0.2f' % Prop_Females, '%' )
print('Number of missing sex:', Missing_Sex, 'corresponding to %0.2f' % Prop_Missing, '%' )

print('\n')
# --------------------------------------------
# Deprivation Quintile
ColumnList = ['LSOA code (2011)', 'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)']
df_IMD_Sub = df_IMD[ColumnList]

df_Table1 = pd.merge(df_Table1, df_IMD_Sub, left_on='LSOA_2011_Code', right_on='LSOA code (2011)', how='left')
df_Table1 = df_Table1.drop(columns=['LSOA code (2011)'])
df_Table1 = df_Table1.rename(columns={'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)':'IMD Deciles'})
df_Table1.head()

Decile_List = range(1,10+1)
for k in range(5):
    Decile_Max = Decile_List[k]*2
    Decile_Min = Decile_Max-1

    Filter_Quintiles = (df_Table1["IMD Deciles"]>=Decile_Min) & (df_Table1["IMD Deciles"]<=Decile_Max)
    N_Patients_Quintile = df_Table1[Filter_Quintiles].shape[0]
    Prop = 100*N_Patients_Quintile/N_Patients
    print('IMD Deciles:', Decile_Min, '-', Decile_Max)
    print('\t Number of patients:', N_Patients_Quintile, 'corresponding to %0.2f' % Prop, '%')

N_MissingIMD = df_Table1["IMD Deciles"].isnull().sum()
Prop_Missing = 100*N_MissingIMD/N_Patients
print('Number of missing IMD:', N_MissingIMD, 'corresponding to %0.2f' % Prop_Missing, '%')

print('\n')
# --------------------------------------------
# Number of readmissions
df_Count = df_ini.copy()
df_UniqueSpells = df_Count.sort_values(by=['HESID', 'EPIend']).drop_duplicates(subset=['P_Spell_ID'], keep='first')[['HESID','P_Spell_ID']]
df_NumberSpells = df_UniqueSpells.groupby(by='HESID').agg('count').reset_index().rename(columns={'P_Spell_ID':'Number Spells'})
df_NumberSpells.loc[:, 'Number Readmissions'] = df_NumberSpells.loc[:, 'Number Spells']-1
Readmissions_Describe = df_NumberSpells['Number Readmissions'].describe()
print('Number of readmissions:', Readmissions_Describe['50%'], '(', Readmissions_Describe['25%'], '-', Readmissions_Describe['75%'], ')')

SaveCSV = False
if SaveCSV:
    df_NumberSpells.to_csv(r'O:\GIRFT DiRAC\FlavienHardy\1_DataConsistency\Data\1_Processed\Fig1_autism_NumberReadmissions.csv')

Number of unique patients/first spells: 188195


Age band: 0 - 17
	 Number of patients: 105526 corresponding to 56.07 %
Age band: 18 - 39
	 Number of patients: 57225 corresponding to 30.41 %
Age band: 40 - 59
	 Number of patients: 17325 corresponding to 9.21 %
Age band: 60 - 79
	 Number of patients: 6993 corresponding to 3.72 %
Age band: 80 - 998
	 Number of patients: 986 corresponding to 0.52 %
Age band: 999 - 999
	 Number of patients: 140 corresponding to 0.07 %


Number of Male patients: 134298 corresponding to 71.36 %
Number of Female patients: 53575 corresponding to 28.47 %
Number of missing sex: 322 corresponding to 0.17 %


IMD Deciles: 1 - 2
	 Number of patients: 48837 corresponding to 25.95 %
IMD Deciles: 3 - 4
	 Number of patients: 38391 corresponding to 20.40 %
IMD Deciles: 5 - 6
	 Number of patients: 31508 corresponding to 16.74 %
IMD Deciles: 7 - 8
	 Number of patients: 26444 corresponding to 14.05 %
IMD Deciles: 9 - 10
	 Number of patients: 22346 corresponding to 11.87 %
Number of missing IMD: 20669 corresponding to 10.98 %


Number of readmissions: 1.0 ( 0.0 - 2.0 )

# Identification of Errors

In [7]:

df_ini.head()

,P_Spell_ID,Epikey,procedure_group,sex,EPIstart,EPIend,HESID,epiorder,ProvCode,Sitecode,...,age_of_patient,diagnosis_group,POD,MORT,FinY,Read30,Read90,Admission_date1,Discharge_date1,Spell_Los
0,106,5.040460e+11,K633~K635~Y534~U201~-1~-1~-1~-1~-1~-1~-1~-1~-1...,Male,09/09/2015 00:00,11/09/2015 00:00,00000BB5E7DC3BAB1D477FC33FB398CD,1,RH8,RH801,...,52,I214~I251~I501~E780~F845~F419~J459~-1~-1~-1~-1...,EM,0,2015/16,NaN,NaN,09/09/2015 00:00,11/09/2015 00:00,2
1,107,5.086970e+11,H259~O302~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~...,Male,30/11/2018 00:00,30/11/2018 00:00,00000BB5E7DC3BAB1D477FC33FB398CD,1,RH8,RH801,...,55,Z121~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1...,DC,0,2018/19,NaN,NaN,30/11/2018 00:00,30/11/2018 00:00,0
2,754,5.070510e+11,E051~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1...,Male,22/12/2017 00:00,22/12/2017 00:00,00004A8B9CDE0E438C531952B76D7498,1,NT3,NT332,...,11,R040~F840~F900~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-...,DC,0,2017/18,NaN,NaN,22/12/2017 00:00,22/12/2017 00:00,0
3,755,5.102510e+11,E064~E063~Z942~E051~E063~Z943~-1~-1~-1~-1~-1~-...,Male,15/04/2019 00:00,18/04/2019 00:00,00004A8B9CDE0E438C531952B76D7498,1,RXF,RXF05,...,13,R040~R31X~F900~R278~-1~-1~-1~-1~-1~-1~-1~-1~-1...,EM,0,2019/20,NaN,NaN,15/04/2019 00:00,18/04/2019 00:00,3
4,2093,5.026980e+11,-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-1~-...,Male,25/11/2014 00:00,25/11/2014 00:00,0000BD0A02E524D41AF95EC3BED233D8,2,RR7,RR7EN,...,26,R104~R11X~F339~F419~F845~F171~Z028~-1~-1~-1~-1...,EM,0,2014/15,NaN,NaN,24/11/2014 00:00,25/11/2014 00:00,1

In [8]:
df_ini.columns

Index(['P_Spell_ID', 'Epikey', 'procedure_group', 'sex', 'EPIstart', 'EPIend',
       'HESID', 'epiorder', 'ProvCode', 'Sitecode', 'LSOA_2011_Code',
       'main_specialty_code', 'Main_Specialty_Description', 'age_of_patient',
       'diagnosis_group', 'POD', 'MORT', 'FinY', 'Read30', 'Read90',
       'Admission_date1', 'Discharge_date1', 'Spell_Los'],
      dtype='object')